* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow,sans-serif;
}

body {
    background: linear-gradient(to top, #F27121, #E94057, #8A2387);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* //////////////////HEADER /////////////////// */

img {
    max-width: 75vw;
}

header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: aliceblue;
    font-size: 3rem;
    font-weight: bolder;
}

nav {
    background-color: aliceblue;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 10px 5px 5px black;
}

nav > a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

/* //////////////MAIN//////////////////// */

main {
    flex-grow: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    min-height: fit-content;
    padding-top: 5vh;
}

.lineup-img {
    height: 40vw;
}

.entradas-lineup {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

/* /////////////TABLA ///////////////////*/

table{
    background-color: white;
    height: 50vh;
    width: 40rem;
    caption-side: bottom;
    border-spacing: 2px;
    /* empty-cells: hide; */
    border-collapse: collapse;
}

table, th, td {
    border: 5px solid;

}

tr:nth-child(even){
background-color: black;
color: white;
}

.dia{
    background-color: #F27121;
}



