*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
}

main {
    min-height: 100vh;
    padding: 20px;
    background: #3a5766;
    color: tan;
}

h1 {
    font-size: 30px;
    text-align: center;
}
h3{
    display: inline;
    margin-left: 2rem;
}
.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

.cats {
    width: 150px;
    margin: 4px 0;
    padding: 14px;
    font-size: 12px;
    transition: 5s;
}

.cat-1:hover{
    transform: translate(250px) rotate(50deg);
}

.cat-2:hover{
    transform: scale(40%);
}

.cat-3:hover {
    transform: skew(40deg, 150deg);
}

.cat-4:hover {
    transform: rotate(5turn);
}
